<!-- Display section for a single post -->
<section class="post">
    <!-- Post header containing headline and user/date info -->
    <div class="post-header">
        <!-- Division for post headline -->
        <div class="post-headline">
            <!-- Display the title of the post -->
            <h3>{{post.title}}</h3>
        </div>
        <!-- Division for post author and creation date -->
        <div class="post-user-date">
            <!-- Display the username of the post author and the date of post creation -->
            <h4>Posted by {{post.user.username}} on {{format_date post.date_created}}</h4>
        </div>
    </div>
    <!-- Display the contents of the post -->
    <p>{{post.contents}}.</p>
</section>
