<section class="login">
    <!-- Section header for the login form -->
    <div class="section-header">
        <h3>Login</h3>
    </div>
    <div class="section-body">
        <!-- Input fields for username and password -->
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <!-- Button to submit the login form -->
        <button id="login">Login</button>
        <!-- Link to sign up page -->
        <label for="signup"><a href="/signup">Sign up instead</a></label>
    </div>
</section>
<!-- JS file for handling login -->
<script src="/js/login.js"></script>
