<section class="signup">
    <!-- Section header for the signup form -->
    <div class="section-header">
        <h3>Sign Up</h3>
    </div>
    <div class="section-body">
        <!-- Form for user signup -->
        <form id="signup">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <!-- Button to submit the signup form -->
            <button type="submit">Sign Up</button>
            <!-- Link to login page -->
            <label for="login"><a href="/login">Login instead</a></label>
        </form>
    </div>
</section>
<!-- JS file for handling signup functionality -->
<script src="/js/signup.js"></script>
